@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

body{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.scroll-bar {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    height: 4px;
    background-color: #5877e7;
    z-index: 9999;
    transition: width 0.1s ease-in-out;
}

.navbar {
    padding-top: 10px;
    height: 70px;
    z-index: 1030;
    box-shadow: rgba(0, 0, 0, 0.15) 2.6px;
}
.navbar-brand {
    margin-left: 9.5%;
    font-weight: 600;
    letter-spacing: 0.04rem;
    font-size: 1.4rem;
}

.navbar .navbar-nav {
    margin-left: 55%;
}

.navbar ul li a {
    font-size: 1.09rem;
    color: #1b2d37;
    font-weight: 530;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;
}


.container-fluid{
    padding-top: 8px;
}

.introDiv {
    height: 93vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 13vh;
    background-image: url("../images/bg_pic.png");
    background-color: #F7FBFC;
}

.subIntro1{
    display: inline-block;
    padding-top: 10vh;
    width: 60%
}

.subIntro2{
    display: inline-block;
    vertical-align: top;
    width: 29%
}

.subIntro1 h2{
    font-size: 2.2rem;
    font-weight: 600;

}

#element{
    color: #5877e7;
}

#profile_pic{
    vertical-align: top;
    height: 350px;
    width: auto;
    border-radius: 8px;
}

.aboutBtn{
    margin-top: 5px;
    color: white;
    background-color: #4090eb;
}

.aboutBtn:hover{
    color: white;
    background-color: #4090eb;
}

.contact-links{
    display: flex;
    width: 300px;
    margin-top: 25px;
}

.contact{
    flex: 1;
}

.contact img{
    height: 40px;
}

.infoDiv{
    display: flex;
    height: 60vh;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    gap: 10px;
}

.oneInfo{
    flex: 1;
    height: 90%;
    margin-top: 2%;
    padding: 10px 25px;
    background-color: #D6E6F2;
    border-radius: 5px;
}

.infoTitle{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.infoTitle img{
    display: inline-block;
    height: 30px;
    align-items: baseline;
}

.infoTitle h2{
    display: inline-block;
    padding-left: 5px;
    margin: 0px;
    font-size: 2.2rem;
    font-weight: 600;
}

.aboutContent{
    font-size: 1rem;
}

.different{
    color: rgb(142, 55, 241);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    gap: 5px;
}

.flex-item {
    width: calc(25% - 10px); 
    height: 100px;
}

.flex-item img {
    width: 90%;
    height: 60px;
    border-radius: 5px;
}

footer{
    margin-top: 20px;
    width: 22%;
    height: 30px;
    margin: auto;
    padding: auto;
}

footer h3{
    font-size: 1rem;
    font-weight: 600;
}
